{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">
    <div class="blogpost__heading">
        {% block title %}
        {% endblock %}

        <h3>by Ty Myrddin</h3>

        {% block date %}
        {% endblock %}
    </div>

    <div class="blogpost__image">
        {% block image %}
        {% endblock %}
    </div>

    <div class="blogpost__article">
        {% block article %}
        {% endblock %}
    </div>

    <div class="blogpost__article">
        <hr>
        <p>
        Raw magic crackled from their spines, earthing itself harmlessly in the copper rails nailed to every shelf for
            that very purpose. Faint traceries of blue fire crawled across the bookcases and there was a sound, a
            papery whispering, such as might come from a colony of roosting starlings. In the silence of the night the
            books talked to one another. <span style="float:right"> <strong>A student</strong></span></p>

    </div>
</div>
{% endblock %}
