{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://tryhackme.com">
            <img
                src="{{ url_for('static', filename='portfolio/thm.png') }}"
                alt="THM"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Try Hack Me</h2>
                <p>Entry level, attack, defense</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://portswigger.net/web-security/all-materials">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">PortSwigger</h2>
                <p>Web application security</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.cybrary.it/">
            <img
                src="{{ url_for('static', filename='portfolio/cybrary.png') }}"
                alt="Cybrary"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Cybrary</h2>
                <p>Guided pathways with threat-informed training</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.antisyphontraining.com/cyber-range/">
            <img
                src="{{ url_for('static', filename='portfolio/antisyphon.png') }}"
                alt="Cybrary"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Antisyphon Cyber Range</h2>
                <p>Affordable training environment</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}