{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://dataheist.org/">
            <img
                src="{{ url_for('static', filename='portfolio/dataheist.png') }}"
                alt="Data Heist"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Mark Barnabas Lee: Data Heist</h2>
                <p>Data protection and personal cyber hygiene</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://sites.google.com/view/decisions-disruptions/">
            <img
                src="{{ url_for('static', filename='portfolio/lego.png') }}"
                alt="Lego"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Decisions & Disruptions</h2>
                <p>Security in industrial control systems RPG</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://owasp.org/www-project-cornucopia/">
            <img
                src="{{ url_for('static', filename='portfolio/cornucopia.png') }}"
                alt="Cornucopia"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">OWASP Cornucopia</h2>
                <p>Identify security requirements</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://play.backdoorsandbreaches.com/">
            <img
                src="{{ url_for('static', filename='portfolio/thief.png') }}"
                alt="Thief"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">BlackHill Backdoors & Breaches</h2>
                <p>Incident response tabletop exercises</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}