{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://tryhackme.com/">
            <img
                src="{{ url_for('static', filename='portfolio/thm.png') }}"
                alt="THM"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Try Hack Me</h2>
                <p>Red team, blue team</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://portswigger.net/web-security">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Portswigger Academy</h2>
                <p>Web application hacking</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.hackthebox.com/">
            <img
                src="{{ url_for('static', filename='portfolio/htb.png') }}"
                alt="HTB"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Hack The Box</h2>
                <p>Massive hacking playground</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.root-me.org/">
            <img
                src="{{ url_for('static', filename='portfolio/rootme.png') }}"
                alt="Rootme"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Root Me</h2>
                <p>Hacking challenges (multiple languages)</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://blueteamlabs.online/">
            <img
                src="{{ url_for('static', filename='portfolio/btlo.png') }}"
                alt="Blue Hummingbird"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Blue Team Labs Online</h2>
                <p>Keeping skills sharp and trying new things</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.offensive-security.com/labs/individual/">
            <img
                src="{{ url_for('static', filename='portfolio/proving-grounds.png') }}"
                alt="Red Hummingbird"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">OffSec Proving Grounds</h2>
                <p>Sharpen hacking skills with new machines</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
