{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://www.root-me.org/Barzh?lang=en">
            <img
                src="{{ url_for('static', filename='portfolio/rootme.png') }}"
                alt="Rootme"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Root Me</h2>
                <p>Hacking challenges (multiple languages)</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://tryhackme.com/p/Nina.Barzh">
            <img
                src="{{ url_for('static', filename='portfolio/thm.png') }}"
                alt="THM"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Try Hack Me</h2>
                <p>Red team CTFs, blue team challenges</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://portswigger.net/web-security/all-labs">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">PortSwigger</h2>
                <p>Web application security labs</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.pentesteracademy.com/onlinelabs">
            <img
                src="{{ url_for('static', filename='portfolio/pentest-academy.png') }}"
                alt="Pentester Academy Room"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Pentester Academy</h2>
                <p>The latest in pentesting</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://cyberdefenders.org/p/Nina">
            <img
                src="{{ url_for('static', filename='portfolio/cyber-defenders.png') }}"
                alt="HTB"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Cyber Defenders</h2>
                <p>Defend smarter, not harder</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://cybermillion.immersivelabs.online">
            <img
                src="{{ url_for('static', filename='portfolio/million.png') }}"
                alt="Cyber Million"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Cyber Million</h2>
                <p>Defensive Security Operations</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://app.hackthebox.com/profile/1210080">
            <img
                src="{{ url_for('static', filename='portfolio/htb.png') }}"
                alt="HTB"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Hack The Box</h2>
                <p>Massive hacking playground</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
