{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://red.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/redteam.png') }}"
                alt="Red Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Red team</h2>
                <p>Patterns, tools, and techniques</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://blue.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/blueteam.png') }}"
                alt="Blue Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Blue team</h2>
                <p>Defence, SOC, and mitigations</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://green.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/greenteam.png') }}"
                alt="Green Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Green team</h2>
                <p>Human readable security issues</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://purple.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/purpleteam.png') }}"
                alt="Purple Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Purple team</h2>
                <p>Laws of the forest</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-network">
            <img
                src="{{ url_for('static', filename='portfolio/12.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Network hacking scripts</h2>
                <p>10+ recipes</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-webapp">
            <img
                src="{{ url_for('static', filename='portfolio/4.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Application hacking scripts</h2>
                <p>6 recipes</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-cicd">
            <img
                src="{{ url_for('static', filename='portfolio/9.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">CI/CD hacking scripts</h2>
                <p>3 recipes</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-bash">
            <img
                src="{{ url_for('static', filename='portfolio/bash.png') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Bash/shell scripts</h2>
                <p>3 recipes</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-ps">
            <img
                src="{{ url_for('static', filename='portfolio/11.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Powershell scripts</h2>
                <p>2 recipes</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://tryhackme.com/p/Nina.Barzh">
            <img
                src="{{ url_for('static', filename='portfolio/thm.png') }}"
                alt="THM"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Try Hack Me</h2>
                <p>Red team, blue team</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://portswigger.net/web-security">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Portswigger Academy</h2>
                <p>Web application hacking</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://app.hackthebox.com/">
            <img
                src="{{ url_for('static', filename='portfolio/htb.png') }}"
                alt="HTB"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Hack The Box</h2>
                <p>Massive hacking playground</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.root-me.org/">
            <img
                src="{{ url_for('static', filename='portfolio/rootme.png') }}"
                alt="Rootme"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Root Me</h2>
                <p>Hacking challenges (multiple languages)</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://blueteamlabs.online/">
            <img
                src="{{ url_for('static', filename='portfolio/btlo.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Blue Team Labs Online</h2>
                <p>Keeping skills sharp and trying new things</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
