{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="{{ url_for('recipes.labs_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/labs.png') }}"
                alt="Labs"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Labs</h2>
                <p>Hands-on</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.games_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/games.png') }}"
                alt="Labs"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Games</h2>
                <p>On the table</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.courses_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/training.png') }}"
                alt="Labs"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Training</h2>
                <p>Free and low budget train rides</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.pocs_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/pocs.png') }}"
                alt="Labs"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Writeups and screencasts</h2>
                <p>Red, blue, green, purple</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.scripts_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/scripting.png') }}"
                alt="Scripting"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Scripting</h2>
                <p>Fifty shades of frustration</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
