{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://kraut.zone/w/p/t7GFSfTX43aFpuDW9rVfRd">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Portswigger labs</h2>
                <p>Learning screencasting</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://kraut.zone/c/privacy/video-playlists">
            <img
                src="{{ url_for('static', filename='portfolio/privacy.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Privacy concerns</h2>
                <p>Concerning</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}