{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://vimeo.com/showcase/10218402">
            <img
                src="{{ url_for('static', filename='portfolio/portswigger.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Labs</h2>
                <p>Learning screencasting</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}