{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://tube.spdns.org/c/ctfs/videos">
            <img
                src="{{ url_for('static', filename='portfolio/redteam.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Curious captives</h2>
                <p>Screencasts on labs, challenges, ctfs, ...</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://www.youtube.com/@BlackHillsInformationSecurity">
            <img
                src="{{ url_for('static', filename='portfolio/thief.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Black Hills</h2>
                <p>Information security on youtube</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://tube.spdns.org/c/law/videos">
            <img
                src="{{ url_for('static', filename='portfolio/purpleteam.png') }}"
                alt="Portswigger"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Laws of the forest</h2>
                <p>A defendable internet?</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}