{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-modern-ciphers">
            <img
                src="{{ url_for('static', filename='portfolio/cryptography.png') }}"
                alt="Locked"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Modern ciphers</h2>
                <p>What can possibly go wrong?</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-classical-ciphers">
            <img
                src="{{ url_for('static', filename='portfolio/13.jpg') }}"
                alt="Classical book"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Classical ciphers</h2>
                <p>Historical perspective, and fun</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-network">
            <img
                src="{{ url_for('static', filename='portfolio/12.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Network hacking scripts</h2>
                <p>Running with it</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-webapp">
            <img
                src="{{ url_for('static', filename='portfolio/4.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Application hacking scripts</h2>
                <p>We need to have a talk ...</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-cicd">
            <img
                src="{{ url_for('static', filename='portfolio/9.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">CI/CD hacking scripts</h2>
                <p>On the same side now</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-bash">
            <img
                src="{{ url_for('static', filename='portfolio/bash.png') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Bash/shell scripts</h2>
                <p>foo Bar</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://github.com/tymyrddin/scripts-ps">
            <img
                src="{{ url_for('static', filename='portfolio/11.jpg') }}"
                alt="Scripts"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Powershell scripts</h2>
                <p>Those 'curly' quotes again</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
