{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://purple.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/purpleteam.png') }}"
                alt="Purple Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Purple team</h2>
                <p>Laws of the forest</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://red.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/redteam.png') }}"
                alt="Red Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Red team</h2>
                <p>Patterns and techniques</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://blue.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/blueteam.png') }}"
                alt="Blue Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Blue team</h2>
                <p>Defence, SOC, and mitigations</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://green.tymyrddin.dev/">
            <img
                src="{{ url_for('static', filename='portfolio/greenteam.png') }}"
                alt="Green Team"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Green team</h2>
                <p>Humanly understandable issues</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}