{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">

<div class="page__article_white">
        <h1>About us</h1>
        <hr class="light">
        <div class="row">
          <div class="column service-box">
              <em class="material-icons md-64 text-primary">usb</em>
              <h3>Does not always work with your device</h3>
              <p class="text-muted">Large organisations can afford to use colourful teaming (and even then, the budget is often too small). Smaller organisations can not afford such costs at all. Currently perceived states differ within an organisation, making it impossible to find a common ground to start from, and a feasible and agreed-upon desired state to aim for. There is no one-size-fits-all.</p>
                <p>We offer low-budget support for programs with such congruent awareness. Depending on our current financial state, we are even offering free (gratuit) services to not-for-profits and activists.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-paper-plane text-primary"></em>
              <h3>No instant transportation</h3>
              <p class="text-muted">There is no shortage of training and certifications for security professionals, yet most programs are focused on session completion, not on solving problems (outcomes). This outmoded approach to training does not translate to measurable improvements in cybersecurity knowledge, skills, and judgment that lead to long-term resilience.</p><p>Unfortunately, if you are like most people, what you do is ignore the problem – you pretend they are not there, and either deal with them at the last-minute or hope that they go away.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-solid fa-newspaper text-primary"></em>
              <h3>Never Up To Date</h3>
              <p class="text-muted">We do not assume we know it all, nor that what was valid yesterday, is valid today. We keep researching and learning. Always. We transfer the knowledge and skills we do have that make sense for your context, and we offer helpful attitudes to people that are willing and motivated to learn (offensive) security practices.</p>
              <p>As long as there are vulnerabilities, people's data, and in some cases, people themselves as a result of that, are at risk. We need to prevent, find, and fix these vulnerabilities in a given context, before an attacker takes advantage and harms users.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-heart text-primary"></em>
              <h3>With Love</h3>
              <p class="text-muted">Paranoia Levels are an essential concept when working on existing and possible security issues. A higher paranoia level makes it harder for an attacker to go undetected. Yet this comes at the cost of more false alarms, and physical effects on humans. It all depends on the possible impact what level is needed.</p>
              <p>We use humour. Laughing brings oxygen to the brain, which reduces the effects of (professional) paranoia, which is necessary when lives can be at stake. On top of that, an oxygenated mind is more relaxed and has a much greater capacity for learning.</p>
          </div>
        </div>
    </div>

    <div class="page__article">
        <h1>Low-budget or free does not necessarily mean services are of low value</h1>
        <hr class="light">
        <p>On the contrary. Ideally, it is our job to put ourselves out of a job.</p>
        <div class="page-post-card__link">
            <a href="{{ url_for('blog.registration') }}">Discover how we could work together</a>
        </div>
        <p>And we hope you enjoy our unserious seriousness on Disc World and while hitchhiking in the Galaxy, our primary sources of laughter.</p>

    </div>

    <div class="page__article">
        <h1>About the Unseen University</h1>
        <hr class="light">
        <p>The Unseen University is the premiere school of wizardry in Ankh-Morpork, founded in the year 1282 AM (1 UC) by Alberto Malich the Wise. The official motto of the UU is "Nunc Id Vides, Nunc Ne Vides", loosely translated as "Now you see it, now you don't". The unofficial motto is "η β π", or "Eta Beta Pi" (Eat A Better Pie).</p>
        <p>Its buildings are of ancient stone, and contain many dark, winding corridors and small rooms, far more than the size of the grounds should allow. UU Wizards study magic for many years the hard way. Reading an uncountable number of books, passing hard tests, getting one (or several) of the many degrees available and practicing all day long makes a great wizard. Few faculty members like to teach. They have virtual lectures in a classroom, (Room 3b) that does not exist, a happy arrangement mutually understood and respected by Faculty and students alike.</p>
    </div>

    <div class="page__article_white">
        <h1>On Wizardry</h1>
        <hr class="light">
        <div class="row">
          <div class="column service-box">
              <em class="material-icons md-64 text-primary">usb</em>
              <h3>Works with your device</h3>
              <p class="text-muted">Wizards like to use instruments specially made for the purposes of practicing magic. The wizard's staff is a familiar and intuitive example; it stores magic that a wizard can use all at once.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-paper-plane text-primary"></em>
              <h3>Transportation</h3>
              <p class="text-muted">The broomstick is the device for magically enhanced travel favoured by <a href="https://wyrd.netlify.app">witches</a>. <br />While associated with witches, wizards have been known to use them in extremis.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-solid fa-newspaper text-primary"></em>
              <h3>Up to Date</h3>
              <p class="text-muted">For surveilling all possible times and spaces of the multiverse, wizards have now advanced to the omniscope which is, sadly, very expensive monetarily to produce and very expensive magically to operate.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-heart text-primary"></em>
              <h3>With Love</h3>
              <p class="text-muted">Wizards usually vie for the top position, the Archchancellor. Being invited in one of the orders, each wizard fights for the higher positions in the order, and fights off other wizards and other orders.</p>
          </div>
        </div>
    </div>

    <div class="page__article">
        <h1>Degrees</h1>
        <hr class="light">
        <p>The usual baccalaureates are Bachelor of Thaumatology (B.Thau), Bachelor of Magic (B.Mgc), Bachelor of Sortilege (B.S.), Bachelor of Magianism (B.Mn.), Bachelor of Divination (B.D.), and Bachelor of Civil Lore (B.C.L.). The easiest Baccalaureate to get is the Bachelor of Fluencing (B.F.) - the only degree that has made its way to Roundworlds. Other degrees like Bachelor of Amulets and Talismans (B.Am.Ta.), Bachelor of Cabalistic Rites (B.C.R.) and Bachelor of Impractical Necromancy (B.Im.N.) do not lead to a Master's degree.</p>
                    <p>Master of Thaumatology (Master.Thau), Master of Magic (M.Mgc), Master of Sortilege (M.S.), Master of Magianism (M.Mn.), Master of Divination (M.D.), and Master of Civil Lore (M.C.L.). Master degrees give access to same named Doctorate studies.</p>
                    <p>Besides the usual Doctorates, additionally one can achieve Doctor of Magical Philosophy (D.M.Phil.), Doctor of Morbid Spellbinding (D.M.S.), Doctor of Condensed Metaphysics (D.C.M.) and Doctor of Gramarye (D.G.).</p>
        <div class="page-post-card__link">
            <a href="{{ url_for('blog.registration') }}">Register me with the UU!</a>
        </div>

    </div>

    <div class="page__article_white">
        <h1>Alternatively</h1>
        <hr class="light">
        <div class="service-box">
        <p>Simply go to one of the <a href="{{ url_for('recipes.courses_recipes') }}">academies or classrooms</a> (course or academy registrations required), do some <a href="{{ url_for('recipes.labs_recipes') }}">lab work</a> (lab registrations required), climb over the wall and play a <a href="{{ url_for('recipes.games_recipes') }}">game in an inn</a> (no registration required), and likely we'll meet somewhere, sometime in LSpace, or on Discworld.</p>
        </div>
    </div>

</div>
{% endblock %}
