{% extends "blogpost.html" %}

{% block title %}
<h1>Ubuntu 22.04 and apt-key deprecation</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on May 12, 2022</p>
{% endblock %}

{% block article %}

    <p>
        After upgrading to Ubuntu 22.04 from 20.04 several repositories are disabled, and deprecation warnings on its
        signing keys are given.
    </p>
    <p>
        The apt-key deprecation message reads, "<code>Warning: apt-key is deprecated. Manage
        keyring files in trusted.gpg.d instead (see apt-key(8))</code>", and "<code>Key is stored in legacy trusted.gpg
        keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.</code>"
    </p>
    <p>
        Long story short, installing a key in the global keyring the way we used to mean that <i>any</i> packages
        signed by that key are trusted. The new <code>[signed-by]</code> option limits the damage when a repository's
        keys are compromised; the key cannot be used to forge packages unrelated to the repository itself and limits
        the damage done. </p>
    <p>
        New repositories need to be signed in a different way, and existing keys need to be exported to
        <code>/usr/share/keyrings</code> and the associated <code>source.list</code> files adapted to reflect that
        change.
    </p>
    <p>
        Below is a summarized version of applying the <a href="https://wiki.debian.org/DebianRepository/UseThirdParty">
        excellent instructions given by Debian</a> and
        <a href="https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html">apt-key Is Deprecated.
            How To Add OpenPGP Repository Signing Keys Without It On Debian, Ubuntu, Linux Mint, Pop!_OS, Etc.</a> for
        our setup in Ubuntu 22.04.
    </p>
    <p>
        Note that <code>curl</code> can be used instead of <code>wget</code>, and that key extensions can also be
        <code>.pgp</code>, <code>.asc</code>, <code>.key</code>, <code>.whatever</code>, as long as it is a key in a
        format <code>apt</code> supports. If a key is not ascii-armored, <code> gpg</code> will exit successfully
        without changing anything. If apt chokes on the resulting key, it is likely because the key is in another
        format like the newer binary "keybox database" format, which apt does not support.
    </p>
    <h2>
        Adding keys the new way
    </h2>
    <p><strong>
        Checking whether a key is armored:
    </strong></p>
    <pre><code>
        $ wget https://example.com/key/repo-key.gpg
        $ file repo-key.gpg
    </code></pre>
    <p>
        If the answer is <code>repo-key.gpg: PGP public key block Public-Key (old) </code>, then it is an armored key,
        but there is no harm in piping through <code>--dearmor</code> by default.
    </p>
    <p><strong>
        Armored keys:
    </strong></p>
    <pre><code>
        $ wget -O- &lt;https://example.com/key/repo-key.gpg&gt; | gpg --dearmor | sudo tee /usr/share/keyrings/&lt;myrepository&gt;-archive-keyring.gpg
    </code></pre>
    <p><strong>
        Non-armored keys:
    </strong></p>
    <pre><code>
        $ wget -O- &lt;https://example.com/key/repo-key.gpg&gt; | sudo tee /usr/share/keyrings/&lt;myrepository-archive-keyring.gpg&gt;
    </code></pre>
    <p><strong>
        Getting keys from a keyserver:
    </strong></p>
    <pre><code>
        $ sudo gpg --no-default-keyring --keyring /usr/share/keyrings/&lt;myrepository&gt;-archive-keyring.gpg --keyserver &lt;hkp://keyserver.ubuntu.com:80&gt; --recv-keys &lt;fingerprint&gt;
    </code></pre>
    <p>
        All keys will be stored in the <code>/usr/share/keyrings/</code> folder to be used in adding the repository
        with the <code>signed-by</code> option in a <code>sources.list</code> file. </p>
    <p><strong>
        The sources.list files
    </strong></p>
    <p>
        Each of the <code>sources.list</code> files in <code>/etc/apt/sources.list.d/</code> is to contain a
        <code>[signed-by]</code> reference to its own key:</p>
    <pre><code>
        deb [arch=amd64 signed-by=/usr/share/keyrings/&lt;myrepository&gt;-archive-keyring.gpg] https://repository.example.com/debian/ stable main
    </code></pre>
    <p><strong>
        Example
    </strong></p>
    <p>
        An example of adding the repository for <code>helm</code>, signing with its armored key, the old way:
    </p>
    <pre><code>
        $ curl https://baltocdn.com/helm/signing.asc | sudo apt-key add -
        $ echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
    </code></pre>
    <p>
        And the new way:
    </p>
    <pre><code>
        $ wget -O- https://baltocdn.com/helm/signing.asc | gpg --dearmor | sudo tee /usr/share/keyrings/helm-archive-keyring.gpg
        [sudo] password for [user]:
        $ echo "deb [signed-by=/usr/share/keyrings/helm-archive-keyring.gpg] https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm.list
    </code></pre>
    <h2>
        Exporting existing signatures
    </h2>
    <p>In order to be able to keep using the existing list of signatures and enable the disabled repositories again, it
        is necessary to export the individual keys to individual signature files. The below method also works for
        re-enabling repositories that use install scripts and do not have their signing keys listed on their sites,
        like for <code>nordvpn</code> and <code>slack</code>.</p>
    <p><strong>
        Moving keys from /etc/apt/trusted.gpg.d
    </strong></p>
    <p>
        First move all existing keyring files in <code>/etc/apt/trusted.gpg.d/</code> to the (newly created)
        <code>/usr/local/share/keyrings/</code> directory <strong>as-is</strong>.</p>
    <pre><code>
        /etc/apt/trusted.gpg.d$ sudo mv repo-key.gpg /usr/share/keyrings/
    </code></pre>
    <p>
        Then, using an editor of choice, update all the corresponding <code>.list</code> files in
        <code>/etc/apt/sources.list.d</code> to have the <code>[signed-by]</code> field referencing its own key
        (as described above), and remove the hash that disabled the repository.
    </p>
    <p><strong>
        Exporting keys from /etc/apt/trusted.gpg
    </strong></p>
    <p>
        List all remaining keys:
    </p>
    <pre><code>
        $ apt-key list
    </code></pre>
    <p>
        Remove all expired keys to shrink the list:
    </p>
    <pre><code>
        $ sudo apt-key del [last 8 digits]
    </code></pre>
    <p>
        Export a useful key:
    </p>
    <pre><code>
        $ apt-key export [last 8 digits]|sudo gpg --dearmor -o /usr/share/keyrings/&lt;myrepository&gt;-archive-keyring.gpg
    </code></pre>
    <p>
        Example exporting <code>slack</code> signing key in <code>/etc/apt/trusted.gpg</code>
    </p>
    <pre><code>
        pub rsa4096 2014-01-13 [SCEA] [expired: 2019-01-12]
            418A 7F2F B0E1 E6E7 EABF 6FE8 C2E7 3424 D590 97AB
        uid [ expired] packagecloud ops (production key) &lt;ops@packagecloud.io&gt;

        pub rsa4096 2016-02-18 [SCEA]
            DB08 5A08 CA13 B8AC B917 E0F6 D938 EC0D 0386 51BD
        uid [ unknown] https://packagecloud.io/slacktechnologies/slack (https://packagecloud.io/docs#gpg_signing) <support@packagecloud.io>
        sub rsa4096 2016-02-18 [SEA]</support@packagecloud.io>
    </code></pre>
    <p>Remove the expired key:</p>
    <pre><code>
        $ sudo apt-key del D59097AB
        Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
        OK
    </code></pre>
    <p>Export the useful key:</p>
    <pre><code>
        $ apt-key export 038651BD|sudo gpg --dearmor -o /usr/share/keyrings/slack-archive-keyring.gpg
    </code></pre>
    <p>
        Change the <code>slack.list </code> file in <code>/etc/apt/sources.list.d</code>:
    </p>
    <pre><code>
        deb [arch=amd64 signed-by=/usr/share/keyrings/slack-archive-keyring.gpg] https://packagecloud.io/slacktechnologies/slack/debian/ jessie main
    </code></pre>
    <p>
        Now remove the just exported key from <code>/etc/apt/trusted.gpg</code>:
    </p>
    <pre><code>
        $ sudo apt-key del 038651BD
        Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
        OK
    </code></pre>
    <p>And such for each key in the key list for <code>trusted.gpg</code> (not <code>trusted.gpg.d</code>). Test with <code>sudo apt update</code> all is well.</p>
{% endblock %}
