{% extends "blogpost.html" %}

{% block title %}
<h1>Cracked: corporate surveillance state</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on May 17, 2019</p>
{% endblock %}

{% block article %}
<p>There was of course no way of knowing
whether you were being watched at any
given moment. How often, or on what
system, the Thought Police plugged in on
any individual wire was guesswork. It was
even conceivable that they watched
everybody all the time. But at any rate
they could plug in your wire whenever they
wanted to. You had to live – did live,
from habit that became instinct – in the
assumption that every sound you made was
overheard, and, except in darkness, every
movement scrutinized. ~ George Orwell,
1984</p>
<a href="https://labs.rs/en/invisible-infrastructures-online-trackers/"><img src="{{ url_for('static', filename='img/online-trackers.png') }}" width=100%></a>
<a href="https://labs.rs/en/invisible-infrastructures-mobile-permissions/"><img src="{{ url_for('static', filename='img/mobile-permissions.png') }}" width=100%></a>
<p>Digital Tracking and Corporate
Surveillance, Collecting, Analysing and
Selling Personal Data in the Age of Big
Data: Global Trends, Selected Examples,
Risks and Challenges, <a
href="http://crackedlabs.org/">Cracked
Labs – Institute for Critical Digital
Culture</a></p>
{% endblock %}
