{% extends "blogpost.html" %}

{% block title %}
<h1>Data retention legislation EU</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on April 15, 2018</p>
{% endblock %}

{% block article %}
<p>In two judgments, the <a
href="https://www.eff.org/node/81899">Digital Rights
Ireland case (2014)</a> and the <a
href="https://www.fieldfisher.com/en/services/privacy-security-and-information/privacy-security-and-information-law-blog/the-tele2watson-case-what-are-the-key-takeaways-and-what-is-to-become-of-the-new-investigatory-powers-act">Tele-2/Watson
decision (2016)</a>, the Court of Justice of the
European Union (CJEU) reaffirmed the requirement that all
data retention regimes must comply with the principles of
legality, necessity, and proportionality.</p>
<p>The <a
href="https://observatory.mappingtheinternet.eu/page/data-retention-legislation-europe">Data
retention legislation in Europe</a> page lists how the
national members states have reacted to the 2014 decision
and if there is a constitutional complaint on the national
data retention laws. The basic <a
href="https://www.statewatch.org/media/documents/news/2017/nov/eu-eurojust-data-retention-MS-report-10098-17.pdf">standard
laid down by the CJEU</a> is not adhered to by most EU
member states, despite their legal obligation to comply
with the Court’s jurisprudence.</p>
{% endblock %}
