{% extends "blogpost.html" %}

{% block title %}
<h1>Defendable internet?</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on February 2, 2023</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/box.jpg') }}"
  alt="Pandora"
  class="blogpost__image" />
{% endblock %}

{% block article %}
<p>David Clark can remember exactly when he was confronted with the Internet's dark side. Presiding over a meeting of network engineers, news broke that a dangerous computer worm was crawling through the wires. November 2, 1988, using the Internet's essential open nature, the first worm crashed 6000 machines, then one-tenth of the Internet.</p>
<p>Those who developed this network further, focused on the technical challenges of moving information quickly and reliably. They did not focus on how you could wreck this system intentionally, claiming online crime and aggression are the manifestation of basic human needs and wants, beyond easy technological solutions.</p>
<p>Decades later, in 2023, the threats seem to be exploding. The targets for destruction have leapt from computers to banks, retailers, government agencies, critical mechanical systems in dams, power plants and aircraft, mobile apps and phones, clouds, our private data.</p>
<p>Adversaries seem to be winning. Most likely because they have the luxury to focus only on the technical aspects of their work, while defenders have to navigate complex political and regulatory environments. If defenders did not have to deal with such issues, they could maybe focus on how to <a href="https://drive.google.com/file/d/0B5hBKwgSgYFacC1jejJYSE1LTlk/view?resourcekey=0-JaTOSUC_e5A7yzCkPeEGHQ">redesign the Internet</a> to make it an open, transparent, and yet secure internet for all to enjoy.</p>
<p>Thomas Dullien and Halvar Flake also explored <a href="https://www.youtube.com/watch?v=PLJJY5UFtqY">why we are not building such a defendable internet</a>: who is motivated by who to do what - and how these incentives fail to produce the security level we desire.</p>
<p>Five years later, at Black Hat Europe 2022, the question returns, with an "answer" (and more questions): <a href="https://portswigger.net/daily-swig/black-hat-europe-2022-a-defendable-internet-is-possible-but-only-with-industry-makeover">A defendable internet is possible, but only with industry makeover</a>.</p>
<p>A makeover which is unlikely to happen, as are all the other make-overs needed, for example for closing inequality gaps to bring a more just economical balance to the world, and a makeover for substantially reducing the effect we humans are having on the environment, other species, and next generations.</p>
<p>I have some questions on this "dark side", by which I mean the "ignored impacts on others and the future":</p>
<ul>
    <li>Are the minds of those that feel like they are "the winners" locked into "winning", pretty much like drug addicts get "locked in" on the next shot/drink?</li>
    <li>Does short term thinking rule the mind of those "up top"?</li>
    <li>Does the "now" command more attention than effects on the future?</li>
    <li>Is it a legacy replacement problem? We know *that* one. The continuous putting out fires leaves no time for replacement efforts (until it is all burned down and there is nothing left to replace but some ashes).</li>
    <li>Why is it difficult to look beyond the next news cycle/catastrophe/breach?</li>
    <li>If time can be sliced, is it only getting finer, with ever-shorter periods shaping our (digital) world?</li>
</ul>
{% endblock %}