{% extends "blogpost.html" %}

{% block title %}
<h1>Information war technology</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on September 27, 2019</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/cyber-warrior.jpg') }}"
  alt="Cyber warrior"
  class="blogpost__image" />
{% endblock %}

{% block article %}
    <p>States are increasingly launching
    non-lethal attacks against an
    enemy’s information systems and
    people – this is the rise of
    information warfare. Not only is it
    a geopolitical “game”, states are
    also attacking their own people for
    maintaining dominance, corporations
    do to get you to buy their stuff,
    political groups are attacking other
    political groups for believing in
    something else, and individuals take
    out their frustration on others.</p>
    <p>Information warfare may involve
    collection of tactical information,
    assurance(s) that one’s own
    information is valid, spreading of
    propaganda or disinformation to
    demoralize or manipulate the enemy
    and the public, undermining the
    quality of opposing force
    information and denial of
    information-collection opportunities
    to opposing forces.</p>
    <p>Information warfare is closely
    linked to psychological warfare. In
    the big, and often also, in the
    small. Therefor researching the
    patterns of psychological warfare is
    easy. One can simply observe them in
    oneself and in ones own circles. For
    example, the myth of technological
    sufficiency that many depending on
    the system seem to believe in,
    identifies technology as the
    critical factor to solve any issue.
    Yet more technology is not likely to
    end any large scale (political)
    warfare.</p>
    <a href="https://labs.rs/en/mapping-and-quantifying-political-information-warfare/"><img src="{{ url_for('static', filename='img/mapping-and-quantifying-political-information-warfare1.png') }}" width=100%></a>
    <a href="https://labs.rs/en/mapping-and-quantifying-political-information-warfare-2/"><img src="{{ url_for('static', filename='img/mapping-and-quantifying-political-information-warfare2.png') }}" width=100%></a>
    <h2>The new black bag is digital</h2>
    <p><em>Over the past decade
    specially-trained CIA
    clandestine operators have
    mounted over one hundred
    extremely sensitive black bag
    jobs designed to penetrate
    foreign government and military
    communications and computer
    systems, as well as the computer
    systems of some of the world’s
    largest foreign multinational
    corporations. Spyware software
    has been secretly planted in
    computer servers; secure
    telephone lines have been
    bugged; fiber optic cables, data
    switching centres and telephone
    exchanges have been tapped; and
    computer backup tapes and disks
    have been stolen or
    surreptitiously copied in these
    operations. In other words, the
    CIA has become instrumental in
    setting up the shadowy
    surveillance dragnet that has
    now been thrown into public
    view. Sources within the U.S.
    intelligence community confirm
    that since 9/11, CIA clandestine
    operations have given the NSA
    access to a number of new and
    critically important targets
    around the world, especially in
    China and elsewhere in East
    Asia, as well as the Middle
    East, the Near East, and South
    Asia.</em> ~ <a
    href="http://foreignpolicy.com/2013/07/17/the-cias-new-black-bag-is-digital/">The
    CIA’s New Black Bag Is Digital,
    2013</a></p>
    <p>And it is not just the CIA, it
    resembles a panopticon in which
    all previously colonising
    countries are involved, to secure
    their continuity, intake of oil
    and rare earth elements, enhanced
    power and authority, status
    pursuit of ideological goals and
    objectives and general growth of
    their agency, marginalising entire
    populations of nation states with
    the assistance of local elites in
    the process.</p>
    <h2>“Generations” of weapons</h2>
    <p><em>“All warfare is based on
    deception. Hence, when we are
    able to attack, we must seem
    unable; when using our forces,
    we must appear inactive; when we
    are near, we must make the enemy
    believe that we are far away;
    when far away, we must make him
    believe we are near.”</em> ~ <a
    href="https://militaryembedded.com/radar-ew/signal-processing/sixth-generation-warfare-manipulating-space-and-time">Sixth
    generation warfare: manipulating
    space and time</a></p>
    <p>EMP weapons
    (electro-magnetic-pulse), HEMP
    (high altitude EMP), E-bombs
    (electromagnetic bombs), magnetic
    flux compression
    generator/microwave and/or
    radio-frequency radiation.</p>
    <h2>7GW?</h2>
    <p><em>“Be extremely subtle, even to
    the point of formlessness. Be
    extremely mysterious, even to
    the point of soundlessness.
    Thereby you can be the director
    of the opponent’s fate.”</em> ~
    Sun Tzu</p>
    <p><em>Information warfare is a
    concept involving the
    battlespace use and management
    of information and communication
    technology in pursuit of a
    competitive advantage over an
    opponent. Information warfare is
    the manipulation of information
    trusted by a target without the
    target’s awareness so that the
    target will make decisions
    against their interest but in
    the interest of the one
    conducting information warfare.
    As a result, it is not clear
    when information warfare begins,
    ends, and how strong or
    destructive it is. Information
    warfare may involve the
    collection of tactical
    information, assurance(s) that
    one’s own information is valid,
    spreading of propaganda or
    disinformation to demoralize or
    manipulate the enemy and the
    public, undermining the quality
    of the opposing force’s
    information and denial of
    information-collection
    opportunities to opposing
    forces. Information warfare is
    closely linked to psychological
    warfare.</em></p>
{% endblock %}
