{% extends "blogpost.html" %}

{% block title %}
<h1>Internet (in)security trends</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on April 22, 2021</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/stacksquared.png') }}"
  alt="XKCD Stack"
  class="blogpost__image" />
{% endblock %}

{% block article %}

<em>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<em>“Gotta feel kind of bad for nation-state hackers who spend
years implanting and cultivating some hardware exploit, only to
discover the entire target database is already exposed to anyone
with a web browser.”</em>
<ul>
<li>Most <a
href="https://github.com/tymyrddin/amygdala-umbrella/blob/main/E2EE-threat-model">E2EE
systems</a> are secure against only the weakest passive
adversaries, breakable not by cryptanalysis of underlying
cryptographic algorithms but by flawed system designs and
security assumptions. Unencrypted metadata and access patterns
make these systems susceptible to inference attacks. And
recently made laws seem to have been made to prepare the way
for agencies to legitimately gather encrypted data via
backdoors and ghost protocols.</li>
<li>The <a
href="https://github.com/tymyrddin/amygdala-umbrella/blob/main/E2EE-threat-model/attacks/MitM-server-to-server-HTTPS-attack.md">MitM
server-to-server HTTPS communication</a> attack for example,
is not about a vulnerability, it is about a flawed concept.
The abstraction of trusted Internet routing is wrong. DNSsec
and IPsec routing were developed as stopgaps, but make packet
flow harder to troubleshoot and add excessive administrative
overhead.</li>
<li>Hackers increasingly use <a
href="https://github.com/tymyrddin/darkest-forest/blob/main/social-engineering/SEO-poisoning.md">search
engine poisoning</a> attacks because they are so easy to do,
and several automated tool-kits are readily available to make
it even easier.</li>
<li><a
href="https://github.com/tymyrddin/darkest-forest/blob/main/social-engineering/Credential-stuffing.md">Credential
stuffing</a> is currently one of the most common techniques
used to take-over user accounts. Credential spilling is when
credentials gained from data breaches are sold to other
adversaries. Credential stuffing is the large scale use of
automated means to test stolen passwords against other
unrelated websites. This is a possible and often successful
attack because of the tendency for users to recycle their
passwords for multiple accounts.</li>
<li>Polymorphic malware created by machines are likely to
develop (further). These learn to evade detection based on
automated vulnerability detection and complex data analysis.</li>
<li><a
href="https://github.com/tymyrddin/darkest-forest/blob/main/network-attacks/DDoS.md">DDoS</a>
and <a
href="https://github.com/tymyrddin/darkest-forest/blob/main/network-attacks/DrDoS.md">DrDoS</a>
attacks employ swarms of these vulnerable endpoints to attack
public infrastructure through massively coordinated
communication channels. Smarter control software exists but is
costly, and certainly not available to consumer-grade
endpoints. Think unpredictable spikes in infrastructure use
and availability issues.</li>
<li>Meanwhile, such <a
href="https://github.com/tymyrddin/amygdala-umbrella/blob/main/E2EE-threat-model/attack-vectors/Vulnerable-endpoints.md">poorly-protected
vulnerable endpoints</a> are ubiquitous and provide starting
points for further structured attacks.</li>
<li>And there is more to come. Mobile devices and connected
sensors such as smart home devices, biochip transponders on
farm animals and electric clams in coastal waters, you name
it, the monitoring craze is everywhere, increasing the attack
surface.</li>
</ul>
{% endblock %}
