{% extends "blogpost.html" %}

{% block title %}
<h1>Time to choose a new password?</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on February 24, 2023</p>
{% endblock %}

{% block image %}
<figure>
    <img
  src="{{ url_for('static', filename='img/password_strength.png') }}"
  alt="Password strength"
  class="blogpost__image" />
    <figcaption>Image credit: <a href="https://xkcd.com/936/">Xkcd</a></figcaption>
</figure>
{% endblock %}

{% block article %}

<h2>Currently perceived state</h2>

<p><a href="{{ url_for('blog.posts', blog_title='credentials') }}">Maintaining security</a> demands ever longer, complex passwords with frequent changes, now augmented by installing and using multifactor authentication (MFA), with all passwords encrypted in transit and either encrypted or hashed at rest, and further augmented with biometrics. And we're all using it to protect our PII.</p>

<h2>Really?</h2>

<figure>
    <img
  src="{{ url_for('static', filename='img/new-password.png') }}"
  alt="New password"
  class="blogpost__image" />
    <figcaption>The elephant in the room</figcaption>
</figure>

<ul>
    <li>In 2019, <a href="https://www.forbes.com/sites/daveywinder/2019/12/06/microsoft-finds-password-security-problem-affecting-44-million-users/">Microsoft</a> found 44 million of its users had used the same password on more than one account. According to a <a href="https://services.google.com/fh/files/blogs/google_security_infographic.pdf">2019 Google study</a>, almost two-thirds of people use the same password across multiple accounts. And apparently, IT professionals reuse passwords more than average users. They have, of course, more accounts to log into than the average user.</li>
    <li>The most popular passwords are extremely easy to guess. A lot of people use their name or birthdate in their password.</li>
    <li>The 2019 HYPR study revealed that lots of people rely on memory to manage their work passwords. </li>
    <li>And share their password with someone else, even their email account password.</li>
    <li>In the <a href="https://www.hypr.com">HYPR 2022 report</a>, 80% of reported breaches are due to authentication weaknesses, yet 90% believe their authentication approach is secure, and 63% kept their insecure authentication methods after a breach.</li>
    <li>Also, in 2020, a little less that half of organisations rely on sticky notes for password management, according to <a href="https://mms.businesswire.com/media/20200219005336/en/773763/5/191522-Ponemon-Infographic-2020-final-1.jpg">The Ponemon State of Password and Authentication Security Behaviors Report</a></li>
    <li>More than half of users would prefer an alternative method to passwords.</li>
</ul>
<p>People are frustrated with passwords and just wish for the simplest access possible instead of having the cognitive burden and to jump through hoops all the time to keep their PII safe and secure. </p>

<h2>Future developments</h2>

<p>All passwords and passphrases will be obsolete. And this is not unlikely to happen: The increase in affordable computing power provided by the cloud is not only providing companies application resources, but also providing adversaries with more password-cracking resources. Users continue to choose weak passwords, and as a result, there is a <a href="https://fidoalliance.org/">strong push to support alternative identification and authentication mechanisms</a>. </p>

<p>Mechanisms going beyond something one <b>knows</b> (password) and/or something one <b>possesses</b> (phone, fob) and/or even <b>what</b> one is (fingerprint, retinal print). Maybe we'll be using <b>who</b> one is, in the form of <a href="https://www.mnemonicidentitysolutions.com/">episodic memory</a> because who are we but the stories we tell (ourselves), or in the form of <a href="https://www.ischool.berkeley.edu/news/2018/fact-or-science-fiction-using-your-thoughts-enter-password">our thoughts</a>, because "I think therefor I am" ...</p>

<p><br></p>

<figure>
    <img
  src="{{ url_for('static', filename='img/prediction.png') }}"
  alt="Password strength"
  class="blogpost__image" />
    <figcaption>Image credit: <a href="https://xkcd.com/2370/">Xkcd</a></figcaption>
</figure>

{% endblock %}