{% extends "blogpost.html" %}

{% block title %}
<h1>Exploding hand-helds</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on Sept 25, 2024</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/exploding-pagers.png') }}"
  alt="Exploding hand-helds"
  class="blogpost__image" />
{% endblock %}

{% block article %}
<p align="center"><a href="https://politicalcartoons.com/cartoon/288654">Cartoon by Joe Heller: Exploding pagers</a></p>

<h2>So what happened</h2>

The first round of blasts began in Lebanon's capital Beirut and several other areas of the country at about 15:30 local time on Tuesday 17 september 2024 involving pagers. Another round of blasts, now from walkie-talkies, happened on Wednesday the 18th, at around 17:00 local time.

Some of the pagers used by Hezbollah are models that run on <a href="https://www.bunniestudios.com/blog/2024/turning-everyday-gadgets-into-bombs-is-a-bad-idea/">lithium-ion batteries</a>, which can cause dangerous explosions. According to <a href="https://www.lbcgroup.tv/news/lebanon-news/796406/understanding-the-pager-and-how-it-can-explode/en">information obtained by LBCI</a>, the pager server can have been compromised, leading to the installation of a script that caused an overload. This then could have resulted in the overheating of the lithium battery, which then exploded. But it is unlikely that a regular pager battery alone can produce blasts that can injure multiple people (as was seen in some of the recorded attacks). It seems more likely the pagers were interdicted and modified with explosives.

<h2>Interdiction</h2>

<p>Using so-called "interdiction", the target hardware is intercepted while on route to a next supplier in the supply chain. The hardware must be unpackaged, modified, repackaged and put back in the chain without raising red flags. Using "Seeding" is probably even harder, because the manipulation happens on the factory floor. Access in both cases can be gained by social engineering, like posing as officials, bribery, threatening an insider, etcetera.</p>

<p>Hardware supply chain attacks <a href="https://www.bunniestudios.com/blog/2019/supply-chain-security-talk/">are extremely hard to defend from</a>.

<p>Once the hardware is successfully modified, adversaries can use the back door to gain further access or exfiltrate data, it is extremely difficult to detect and fix, and gives long-term access. It is entirely possible that explosives planted in the pagers were detonated using a remote command, perhaps hidden in a pager message. But erm? there is not much space in the devices. Which explosives were that then?</p>

<h2>Targeting costs</h2>

<p>To make it a targeted attack the attacker would need an operative to make sure he modified devices are delivered to the targets and not just anyone. This requires a mole, or a bribe. And time. How long does it take to infiltrate Hezbollah providers to the point of delivering hundreds of devices?</p>

<h2>Why this attack?</h2>

<p>Buying time? Replacing a large number of pagers will take time. Deterrence? The first round came just hours after Israel's security cabinet made the safe return of residents to the north of the country an official war goal. Showing the depth of Israel's intelligence pockets might deter Hezbollah. <a href="https://www.politico.com/news/magazine/2023/10/24/amos-yaldin-israeli-military-intelligence-netanyahu-qa-00123099">Amos Yadlin</a>, a former head of Israeli military intelligence, said the Israeli attack displayed "very impressive penetration capabilities, technology and intelligence."  The deterrence factor however, does not seem to be working. </p>

<p>Did anyone else notice the use of the word "penetration"? What on Earth do they think they are doing?</p>

<p>And it is not a surprise either. <a href="https://www.independent.co.uk/news/world/how-the-phone-bomb-was-set-up-1323096.html">Similar capabilities were already shown.</a> Still, the scale of this attack seems "unprecedented". </p>

<p>As mp wrote: "In other words, it seems to me, this action is only really possible
("easy") if you are already deeply invested in the dark arts of arms
trafficking and dealing, which is to say: embedded in the global,
criminal economy. It is statecraft."</p>

<h2>Western response</h2>

<p>There are UN accusations that this constitutes a war crime, as well as congratulations on the ingenuity of the attack, while it injured at least 2800 people and killed at least nine. But not really an outcry. I have not seen a real outcry on what is happening in Gaza either, by the way. Have we gone numb because of <a href="https://en.wikipedia.org/wiki/List_of_ongoing_armed_conflicts">all the war and killing</a>?</p>

<p>The best explanation I have seen is from Patrice: "In general, I think there is by now a weariness to address the
increasingly dystopian aspect of tech, wether it's corporate or military developed and deployed, since (i) it makes one very depressive
(ii) it won't help anyway"</p>

<p>Historically, technological advances are double-edged swords. Technology has been used against us, while claimed to have been designed to help us. Such opportunism rules mankind. What if our governments are taken over by less-democratic forces? If hand-held devices, such as walkie-talkies or pagers, can be implanted with explosives and can kill targets, how safe are any of us from this mode of attack?</p>

<p>Posting this is also unlikely to help, but I feel slightly better.</p>
{% endblock %}